:root {
    --primary-color:rgb(7, 114, 124);
    --primary-color-dark:rgb(5, 86, 94);
}
* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    background: var(--primary-color);
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    
}
.container h1{
    display: flex;
    justify-content: center;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;

}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline:1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
}

form button:hover {
    background: var(--primary-color-dark);
}

.clock {
    display: flex;
    justify-content: center; 
    font-size: 3em;
}
.buttons {
    display: flex;
    justify-content: center;

}
.iniciar, .pausar, .zerar {
    border: none;
    justify-content: space-between;
    font-size: 1em;
    margin-right: 10px;
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    border-radius: 10px;
}
.iniciar:hover, .pausar:hover, .zerar:hover{
    background: var(--primary-color-dark);
    transition-delay: 2ms;
}

.paused {
    color: red;
}